div.count_wrap{
    width: 420px;
    height: 48px;
    box-shadow: 2px 2px 2px #ccc;
    border: solid 1px #aaa;
    margin: 48px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 12px;
}
div.remove{
    width: 20%;
    height: 100%;
    border-right: solid 1px #aaa;
    box-sizing: border-box;
}
button.remove_btn{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font: normal 42px/16px '맑은고딕';
    position: relative;
    left: 0;
    top:-4px;
    cursor: pointer;
}
div.count{
    width: 60%;
    height: 100%;
    text-align: center;
    font:normal 24px/48px'맑은고딕';
}
div.add{
    width: 20%;
    height: 100%;
    border-left: solid 1px #aaa;
    box-sizing: border-box;
}
button.add_btn{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font: normal 32px/32px '맑은고딕';
    cursor: pointer;
    position: relative;
    top: -2px;
}