footer{
    width: 100vw;
    height: 54px;
    background-color: #2b3467;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    left: 0;
}
p.copyright{
    font: normal 3.33vw/48px 'verdana';
    color: white;
    text-align: center;
}